<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        
        <b><h1 align="center" style="color:#EC2028"><a href="http://purpics.com/" style="color: #FF6F60;">PurPics for Universities</a></h1></b>
       
        <p align="center">{{ site.description | default: site.github.project_tagline }}</p>
        <br>
        <p align="center"><a href="https://mckenzielayne.typeform.com/to/ynxTFI"><button style="border-color: #FF6F60; background-color: #FF6F60; -webkit-text-fill-color: #ffffff;" type="button" class="btn btn-primary btn-lg">Apply Now</button></a></p>
        <br>
        <p align="center"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">View our Mixtape</a></h3>
        <br>
      
      </header>
      
      <section>

      <h1 id="purpics-campus-ambassador-program">PurPics Campus Ambassador Program</h1>

<h5 id="company-overview">Company Overview</h5>
<p>Founded on the idea “pictures with purpose,” <a href="purpics.com">PurPics</a> turns social media likes into charitable donations. Since launching at the University of Virginia in 2017, PurPics has expanded to 40+ campuses across the US. Past and current clients include Lime Scooters, Clif Bar &amp; Co., Awake Chocolate, and more. We’re excited you’re here because our company is hiring PurPics Campus Ambassadors today!</p>

<p>In this role, you will be taught our internal marketing processes, how to prospect student organizations who value philanthropy, and given the ability to be creative by developing and owning your own outreach strategies. Often times, PurPics ambassadors use their experience and relationships built during their tenure for future internships and full time jobs.</p>

<h5 id="successful-purpics-ambassadors">Successful PurPics Ambassadors…</h5>
<ul>
  <li>Know what’s up on campus</li>
  <li>Love meeting new people</li>
  <li>Want to make a difference</li>
  <li>Are curious about the #startuplife</li>
  <li>Eager to make some extra $$$</li>
  <li>Are accountable, strong communicators who are willing to roll up their sleeves and get sh*t done.</li>
</ul>

<h5 id="roles--responsibilities">Roles &amp; Responsibilities</h5>
<ul>
  <li>Identify highly-engaged student organizations on campus that frequently fundraise</li>
  <li>Establish relationships with leaders of target student organizations</li>
  <li>Work with PurPics team lead to onboard student leaders to PurPics platform</li>
</ul>

<h5 id="whats-in-it-for-you">What’s in it for you?</h5>
<ul>
  <li>Money &#x1F4B5</li>
  <li>~Legit resume experience~</li>
  <li>Mentorship opportunities</li>
  <li>Feel good and help raise thousands of dollars raised for charitable and social causes</li>
  <li>Relationships with brands you hope to work with/for in the future</li>
</ul>

<h5 id="spring-2019-campus-ambassador-positions-are-open-at-the-following-schools-only">Fall 2019 Campus Ambassador positions are open at the following schools only:</h5>
<ul>
  <li>University of Southern California</li>
  <li>California State University - Northridge</li>
  <li>California State University - Long Beach</li>
  <li>University of Texas at Austin</li>
  <li>NYU</li>
  <li>University of California San Diego</li>
  <li>San Diego State University</li>
  <li>Cornell University</li>
  <li>University of Texas at Dallas</li>
</ul>

      </section>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
